.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  }
  header{
    background-color: #FFF8F3;
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    padding-top: 50px;
  }
*{
    margin: 0px;
    padding: 0px;
}
nav{
   width: 71%;
   max-width: 1140px;
   /* border: 1px solid palevioletred; */
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.orange{
  color: #FD6E0A;
}
.logo h2{
   font-size: 45px;
   font-weight:900;
}
nav .manu{
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}
nav .manu a{
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}
.btn{
  background-color: #FD6E0A;
  color: white;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.banner{
  /* border: 1px solid peru; */
  display: flex;
  margin:46px 38px 0px 230px;
  align-items: center;
  /* justify-content: space-between; */
}
.banner-content{
  width: 585px;
}
.banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
.banner-content h1{
  font-size:85px;
  font-weight: bold;
  margin-bottom: 20px;
}
.banner-content p{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
  /* border: 3px solid tomato; */
 
}
.banner-image,img{
  width: 585px;
  vertical-align:middle;
  
}