.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
  background-color: #FFF8F3;
  background-image: url("../images/developer.png"), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left,bottom right ;
  padding-top: 50px;
}
 

* {
  margin: 0px;
  padding: 0px;
}

nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid palevioletred; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orange {
  color: #FD6E0A;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

nav .manu {
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}

nav .manu a {
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}

.btn {
  background-color: #FD6E0A;
  color: white;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.banner {
  /* border: 1px solid peru; */
  display: flex;
  margin: 46px 38px 0px 230px;
  align-items: center;
  /* justify-content: space-between; */
}

.banner-content {
  width: 585px;
}

.banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

.banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
  /* border: 3px solid tomato; */

}

.banner-image,
img {
  width: 585px;
  vertical-align: middle;

}

.about {
  padding-top: 30px;
}

.about-container {
  width: 71%;
  max-width: 1000px;
  background-color: #FFF8F3;
  margin: 0 auto;
  text-align: center;
  padding: 128px 157px;

}

.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2 {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
  color: #181818;

}

.section-heading p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

.about-info {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

.card-info p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}

.card-info h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #474747;
}

.skill {
  padding-top: 130px;
}

.skill-container {
  width: 71%;
  max-width: 1000px;
  /* background-color: #FFF8F3; */
  margin: 0 auto;
  /* text-align: center; */
  padding: 128px 157px;
}

.skill-box {
  display: flex;
  gap: 24px;

}

.skill-card {
  max-width: 265px;
  /* border: 2px solid purple; */
  padding: 30px;
  box-shadow: 0 6px 50px 0 #00000024;
}

.skill-card img {
  max-width: 44px;
  padding-bottom: 30px;
  /* margin-bottom: 30px; */
  width: 24px;
  height: 24px;
}
.icon a img{
  width: 24px;
  height: 24px;
}


.skill-card h4 {
  /* font-weight: bold; */
  font-size: 15px;
  color: #181818;
  padding-bottom: 20px;

}

.skill-card p {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
}
.resume-cotainer{
  width: 1140px;
  /* border: 2px solid purple; */
  margin: 113px auto 0px;
  display: flex;
  gap: 24px;
}
.section-title{
      font-size: 25px;
      color: #474747;
      padding-bottom: 30px;
}
.resume-card{
  width: 510px;
   /* border: 2px solid purple; */
    margin-bottom: 30px;
}
.card-title{
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px
}
.card-info{
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}
.card-text{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  
}
.resume-cotainer hr{
  margin: 25px 0px;
}
.text-center{
  /* display: flex; */
  text-align: center;
}
footer{
  background-color: #FFF8F3;
  margin-top: 115px;
 
  padding: 130px 0;
}
.footer-container{
  width: 1140px;
   /* border: 3px solid turquoise; */
   margin: 0 auto;
   display: flex;
   gap: 115px;
   
}
.social{
  width: 560px;
  /* border: 3px solid turquoise; */
}
.footer-container h2{
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
.social p{
  font-size: 16px;
  line-height: 28px;
  color: #474747;
  margin-bottom: 30px;
}
.icon a{
  margin-right: 24px;
}
.input, .text-area{
  width: 460px;
  padding: 18px 30px;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  margin-bottom: 24px;
  border-radius: 5px;
  border: none;
}
